/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'flatpickr/flatpickr.css'
 */

 div.form-group.row > label {
    text-align: right;
 }

 .tab-content {
     margin-top: 20px;
 }

 /* Commentaires */
.comment {
    padding: 10px;
    margin-bottom: 1.875rem;
    position: relative;
    border: 1px solid #ebebeb;
    background-color: #f4f4f4;
    font-size: .9rem;
    border-radius: 3px;
}

.comment-avatar {
    position: absolute;
    left: 10px;
    width: 54px;
    height: 54px;
    padding: 3px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 0 1px 9px #e0e0e0, inset 0 0 2px hsla(0,0%,84%,.75);
    box-shadow: 0 1px 9px #e0e0e0, inset 0 0 2px hsla(0,0%,84%,.75);
}

.comment-body {
    margin-left: 70px;
}

.comment-author {
    font-weight: 700;
    font-size: 1rem;
}

.comment-text p {
    margin-bottom: 0;
}




